@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html manifest="@Url.Action("Manifest")">
<head>
    <title>title</title>
</head>
<body>
    <div>
        <img id="logo" src="@Url.Content("~/content/images/logo_online.png")"
             data-online="@Url.Content("~/content/images/logo_online.png")"
             data-offline="@Url.Content("~/content/images/logo_offline.png")" />
        <br />
        <br />
        <br />
        <div id="container" data-api-url="@Url.Action("GetData", "Offline")"></div>
        <h4>
            <strong>Number of years to display</strong>
        </h4>
        <select id="noYears">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <script src=@Url.Content("~/bundles/jquery")></script>
    <script src=@Url.Content("~/scripts/main.js")></script>
    <script src=@Url.Content("~/scripts/cache.js")></script>
    <script src=@Url.Content("~/scripts/highcharts/highcharts.js")></script>
    <script src=@Url.Content("~/scripts/highcharts/exporting.js")></script>
    @*<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>*@
    <script type="text/javascript">
        updateUIStatus(navigator.onLine);
        loadData(navigator.onLine);
    </script>
</body>
</html>